<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- <target name="logfile" xsi:type="File" fileName="log.log" /> -->
        <target name="logconsole" xsi:type="ColoredConsole" 
                layout="[${longdate}] [${callsite:className=true:captureStackTrace=false:methodName=false:includeNamespace=false}:${callsite-linenumber}] ${pad:padding=7:inner=[${level:uppercase=true}]}: ${message}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="DarkRed" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <!-- <logger name="*" minlevel="Debug" writeTo="logfile" /> -->
    </rules>
</nlog>